<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>ユーザーアイコン画像</p><br>
<%= image_tag(@user.image.url) if @user.image.url %>

<br><br>
<button type="button" class="btn btn-warning btn-sm">
    <%= link_to 'お気に入り一覧', favorite_path %>
</button>