<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h1>お気に入りツイート一覧</h1>
　<% @favorites_instaclos.each do |instaclo| %>
    <li><%= link_to "#{instaclo.content}", instaclo_path(instaclo.id) %></li>
  <% end %>